body {
  /*   font-family: 'Poppins', sans-serif; */
  font-family: sans-serif;
  font-size: 0.8em;
  /* font-weight: bold; */
  margin: 0;
  overflow: hidden;
}

pre {
  font-size: 5em;
}

.m5 {
  margin: 5px;
}

.p5 {
  padding: 5px;
}

.info {
  padding: 10px;
  font-size: 1.2em;
}

#controls,
#svgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#controls {
  width: 200px;
}

.marks .land {
  fill: #009637;
  /*   stroke: #8B4513; */
  stroke-width: 1px;
}

.marks .ride {
  fill: none;
  stroke: #137b80;
  stroke-width: 2px;
}

.marks path {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.marks .globe {
  fill: #005eb8;
  stroke: grey;
  stroke-width: 1px;
}

.marks .graticules {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label,
.ride-stats,
.overall-stats {
  font-size: 1.2rem;
}

.ride-stats {
  text-anchor: start;
}

.overall-stats {
  text-anchor: end;
}

.dropdown,
.dropdowns {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
}

.Dropdown-placeholder {
  font-size: 0.8em;
}

.Dropdown-control {
  padding: 5px 30px 5px 5px;
}

.Dropdown-option {
  padding: 5px;
}

.Dropdown-menu {
  max-height: auto;
  font-size: 0.8em;
}